@use "helpers" as *;

// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// html {
//   scroll-behavior: smooth;
//   scrollbar-gutter: stable;
// }

// body {
//   font-family: "Poppins", serif;
// }

// ===========================
// 📐 CONTAINER & LAYOUT
// ===========================

.wrapper {
  overflow: hidden;
  position: relative;
}

button {
  appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
  cursor: pointer;
  color: inherit; /* 1 */
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-weight: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
  text-transform: none;
}

.t-container {
  max-width: rem(1220);
  margin-inline: auto;
  padding-inline: rem(20);
}

.section-pt {
  padding-top: fluid(80, 120);
}

.section-pb {
  padding-bottom: fluid(80, 120);
}

.section-pt-sm {
  padding-top: fluid(60, 80);
}

.section-pb-sm {
  padding-bottom: fluid(60, 80);
}

.t-title {
  font-size: fluid(25, 40);
  margin-bottom: rem(16);
  color: #14317f;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;

  span {
    color: #52c055;
  }
}

.t-button {
  font-size: fluid(18, 24) !important;
  font-weight: 700 !important;
  background-color: #52c055 !important;
  padding: rem(16) fluid(30, 40) !important;
  border-radius: rem(60) !important;
  color: #fff !important;
  text-align: center !important;
  text-transform: uppercase !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: opacity 0.3s ease !important;
  line-height: 1 !important;
  border: 1px solid transparent !important;

  @include hover {
    opacity: 0.8;
  }

  @include x-small {
    width: 100%;
  }

  &--white {
  
    background-color: #fff !important;
    border-color: #52c055 !important;
    color: #52c055 !important;
  }
}

@include large {
  br {
    display: none;
  }
}
